<div class="p-6 ">
  <ul *ngIf="(cartItems$ | async)?.length; else emptyCart" class="space-y-4">
    <h1 class="mb-4 text-3xl font-bold">Cart</h1>
    <div class="grid grid-row-5 gap-4 m-5">
    <li
      *ngFor="let item of cartItems$ | async"
    >
      <div class="max-w bg-white border border-gray-200 rounded-lg shadow dark:bg-white dark:border-gray-700">
        <div class="p-5">
            <h4 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">{{ item.pokemon.name | uppercase }}</h4>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Quantity: {{ item.quantity }}</h5>
            <button
              class="px-4 py-2 text-black bg-red-500" (click)="removeItem(item.pokemon.name)">
              Remove
            </button>
        </div>
      </div>
    </li>
    </div>
  </ul>
  <ng-template #emptyCart>
    <h2 class="text-gray-500">Empty.</h2>
  </ng-template>

  <div class="mt-6">
    <button
      *ngIf="(cartItems$ | async)?.length"
      (click)="clearCart()"
      class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-white rounded-s hover:bg-white dark:bg-white dark:border-gray-700 dark:text-gray-400 dark:hover:bg-white dark:hover:text-black border border-gray-200"
    >
      Delete All
    </button>
    <button>
      <a
        *ngIf="(cartItems$ | async)?.length"
        routerLink="/checkout"
        class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-white rounded-s hover:bg-white dark:bg-white dark:border-gray-700 dark:text-gray-400 dark:hover:bg-white dark:hover:text-black border border-gray-200"
      >
        Go to Checkout
      </a>
    </button>
  </div>
</div>
