<div class="max-w-md mx-auto m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div class="p-5 max-w-md mx-auto text-center">
      <div class="inline-flex mt-2 xs:mt-0">
        <button (click)="changeLogin()" class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-white rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-black border border-gray-200" >
          Login
        </button>
        <button (click)="changeRegister()" class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-white
       border-s rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-black border border-gray-200">
          Register
        </button>
      </div>
        <h5 *ngIf="isLogin" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Login</h5>
        <h5 *ngIf="!isLogin" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Register</h5>
    <div >
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-black dark:text-black">Email</label>
          <input formControlName="email" type="text" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First Name" required />
          <div *ngIf="registerForm.controls.email?.invalid && registerForm.controls.email?.touched"> Field Wajib Diisi</div>
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-black dark:text-black">Password</label>
          <input formControlName="password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First Name" required />
          <div *ngIf="registerForm.controls.password?.invalid && registerForm.controls.password?.touched"> Field Wajib Diisi</div>
        </div>
        <div>
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
