<div class="content-center max-w-md mx-auto m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#" class="content-center">
    <img class="rounded-t-lg object-center object-contain m-auto" [src]="img" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">{{ name }}</h5>
    </a>
    <button *ngIf="soundUrl" (click)="playAudio()"  class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-white rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-black border border-gray-200" >
      Play
    </button>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Abilities</p>
    <ul>
      <li *ngFor="let ability of abilities">{{ ability.ability.name }}</li>
    </ul>
    <div class="inline-flex mt-2 xs:mt-0">
      <button (click)="doDevolve()"  class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-white rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-black border border-gray-200" >
        Devolve
      </button>
      <button (click)="doEvolve()" class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-white
     border-s rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-black border border-gray-200" >
        Evolve
      </button>
    </div>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Evolution</p>
    <ul>
      <li [ngClass]="{'active': i === currentEvolve-1}" *ngFor="let s of species; let i = index">{{ s.name }}</li>
    </ul>
    <button (click)="openForm()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Buy
    </button>
  </div>
</div>
<div *ngIf="openModal" class="content-center max-w-md mx-auto m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <app-form [listPokemon]="species" [index]="currentEvolve"></app-form>
</div>
