
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="m-5">
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label for="first_name" class="block mb-2 text-sm font-medium text-black dark:text-black">First name</label>
      <input formControlName="firstName" type="text" id="first_name" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First Name" required />
      <div *ngIf="checkoutForm.controls.firstName?.invalid && checkoutForm.controls.firstName?.touched"> Field Wajib Diisi</div>
    </div>
    <div>
      <label for="last_name" class="block mb-2 text-sm font-medium text-black dark:text-black">Last name</label>
      <input formControlName="lastName" type="text" id="last_name" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Last Name" required />
      <div *ngIf="checkoutForm.controls.lastName?.invalid && checkoutForm.controls.lastName?.touched"> Field Wajib Diisi</div>
    </div>
  </div>
  <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium text-black dark:text-black">Email address</label>
    <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required />
    <div *ngIf="checkoutForm.controls.email?.invalid && checkoutForm.controls.email?.touched"> Field Tidak Sesuai</div>
  </div>
  <div class="mb-6">
    <label for="phone" class="block mb-2 text-sm font-medium text-black dark:text-black">Phone Number</label>
    <input formControlName="phone" type="tel" id="phone" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="123234567" required />
    <div *ngIf="checkoutForm.controls.phone?.invalid && checkoutForm.controls.phone?.touched"> Field Wajib Diisi</div>
  </div>
  <div class="mb-6">
    <label for="address" class="block mb-2 text-sm font-medium text-black dark:text-black">Address</label>
    <textarea formControlName="address" id="address" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
    <div *ngIf="checkoutForm.controls.address?.invalid && checkoutForm.controls.address?.touched"> Field Wajib Diisi</div>
  </div>
  <div class="mb-6">
    <div *ngFor="let pokemons of listData; let i = index">
    <div class="flex items-center mb-4">
      <input id="default-radio-1" type="radio" (change)="changeShow($event, i)" value="true" name="default-radio-{{i}}" class="w-4 h-4 text-blue-600 bg-white border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-white dark:border-gray-600">
      <label for="default-radio-1" class="ms-2 text-sm font-medium text-black dark:text-gray-300">Current Evolve</label>
    </div>
    <div class="flex items-center">
      <input checked id="default-radio-2" type="radio" value="false" (change)="changeShow($event, i)" name="default-radio-{{i}}" class="w-4 h-4 text-blue-600 bg-white border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-white dark:border-gray-600">
      <label for="default-radio-2" class="ms-2 text-sm font-medium text-black dark:text-gray-300">All Evolve</label>
    </div>
      <p *ngIf="showAllArr[i]">Quantity: {{cartItems[i].quantity * pokemons.length}}</p>
      <p *ngIf="!showAllArr[i]">Quantity: {{cartItems[i].quantity}}</p>
      <div *ngFor="let number of quantity[i]">
        <div *ngIf="showAllArr[i]" class="grid grid-cols-5 gap-4 m-5">
          <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-card>
        </div>
        <div *ngIf="!showAllArr[i]" class="grid grid-cols-5 gap-4 m-5">
          <app-pokemon-card [pokemon]="pokemons[index]"></app-pokemon-card>
        </div>
      </div>
    </div>

  </div>
  <button type="submit" class="text-black bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>




